// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue:  #006EA0;
$green: #D8D33C;
$red:   #E61B17;
$black: #000000;
$white: #FFFFFF;


@mixin bordered($width, $color) {
  text-shadow: $width 0 0 $color,
               $width * -1 0 0 $color,
               0 $width 0 $color,
               0 $width * -1 0 $color,
               $width / 2 $width / 2 $color,
               $width / -2 $width / -2 0 $color,
               $width / 2 $width / -2 0 $color,
               $width / -2 $width / 2 0 $color;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Action Man';
}
html {
    margin: auto;
}

.card {
  background-size: 100% auto;
  border-color: #000000;
  border-radius: 10px;
  border-style: solid;
  border-width: 0px;
  float: left;
  height: 300px;
  margin: 0px;
  padding: 10px;
  position: relative;
  width: 210px;
  .cost {
    background-color: #FFFFFF;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 26px;
    float: left;
    font-family: 'Action Man';
    font-size: 30px;
    height: 26px;
    margin: -11px -2px -2px -11px;
    padding: 14px 5px 7px;
    b {
      font-size: 50px;
    }
  }

  .name {
    color: #FFFFFF;
    float: right;
    font-family: 'Action Man';
    font-size: 30px;
    line-height: 31px;
    margin: -5px auto auto;
    max-width: 150px;
    padding-top: 0;
    text-align: center;
    @include bordered(4px, $black);
  }

  .kind {
    font-size: 18px;
    font-weight: bold;
    margin-top: -10px;
    text-align: center;
    font-family: 'Action Man';
    color: $white;
  }
  .Keep {
    @include bordered(2px, $blue);
  }
  .Discard{
    @include bordered(2px, $red);
  }

  .description {
    background-color: #FFFFFF;
    border-radius: 50px;
    font-size: 1em;
    margin: auto auto auto -4px;
    padding: 3px 12px 12px;
    position: absolute;
    text-align: center;
    width: 85%;
    bottom: 0px;
    .body{
      padding-top: 12px;
    }
  }
  .fa-bolt{
    color: $green;
  }
  .fa-star {
    color: $blue;
  }
  .fa-heart{
    color: $red;
  }
  .dice {
    color: $green;
  }
  .fa-stack {
    width: 1em;
  }
}
.left{
  float: left;
}
.right {
  float: right;
}
