// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue:  #006EA0;
$green: #D8D33C;
$red:   #E61B17;
$black: #000000;
$white: #FFFFFF;

body {
    margin: 0 !important;
    padding: 0 !important;
}
html {
    margin: auto;
}

.card {
  background-size: 100% auto;
  border-color: #000000;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  float: left;
  height: 300px;
  margin: 1px;
  padding: 10px;
  position: relative;
  width: 210px;
  .cost {
    background-color: $white;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 26px;
    font-size: 35px;
    height: 41px;
    margin: -13px;
    padding: 7px;
    width: 40px;
  }

  .name {
    color: #000000;
    font-family: 'Action Man';
    font-size: 34px;
    line-height: 31px;
    margin: auto;
    max-width: 180px;
    padding-top: 0;
    text-align: center;
    text-shadow:2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  }

  .kind {
    font-size: 15px;
    font-weight: bold;
    margin-top: -10px;
    text-align: center;
    font-family: 'Action Man Shaded';
  }
  .Keep {
    color: $blue;
  }
  .Discard{
    color: $red;
  }

  .description {
    background-color: #FFFFFF;
    border-radius: 50px;
    font-size: 1em;
    font-weight: bold;
    margin: auto auto auto -4px;
    padding: 12px;
    position: absolute;
    text-align: center;
    width: 85%;
    bottom: 0px;
    .body{
      padding-top: 12px;
    }
  }
  .fa-bolt{
    color: $green;
  }
  .fa-star {
    color: $blue;
  }
  .fa-heart{
    color: $red;
  }
  .dice {
    color: $green;
  }
  .fa-stack {
    width: 1em;
  }
}
.left{
  float: left;
}
.right {
  float: right;
}
